body{

    
}

.card{

    width: 310px;
    margin-top: 25px;
    height: 430px;
}

.card-img-top{

	max-width: 100%;
	max-height: 100%;
}

.card-body{

    width: 350px;
    margin-top: -10px;
    height: 300px;
}

.card-title{

	font-size: 13pt;
}

.atributos{

	font-size: 11pt;

}


label#valor{

    font-size: 15pt;
}

a#favoritoButton{

    margin-left: 10px;
    font-size: 14pt;
    text-decoration: none;
    color: black;
}

/* pagination */

.pagination{

	width: 300px;
	margin-top: 30px;
}

.item{

	
	padding: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
}

.page-item{

	

}

.active{

	background: #fb7a74;
	color: black;
}