body{

    
}

.card{

    width: 310px;
    margin-top: 25px;
    height: 450px;
}

div#infoAnunciante{

    display: flex;
    justify-content: space-between;
    width: 310px;
}


div#nomeAnunciante{

    background: #ff8300;
    padding: 5px;
    width: 80px;
    text-align: center;
}

div#erroStatus{

    background: red;
    padding: 5px;
    width: 90px;
    text-align: center;
    color: white;
    
}

div#statusAnuncio{

    background: green;
    padding: 5px;
    width: 90px;
    text-align: center;
    color: white;
}

.card-img-top{

	 max-width:180px;
    max-height:250px;
    width: auto;
    height: auto;
    margin-top: 10px;
    
}

img#imgCapa{

	width: 180px;
  height: 250px;
  object-fit: contain;
}

.card-body{

    width: 350px;
    margin-top: -10px;
    height: 300px;
}

.card-title{

	font-size: 13pt;
}

.atributos{

	font-size: 11pt;

}

div#buttonCar{

	margin-top: 10px;
}


label#valor{

    font-size: 15pt;
}

a#favoritoButton{

    margin-left: 10px;
    font-size: 14pt;
    text-decoration: none;
    color: black;
}

/* pagination */

.pagination{

	width: 300px;
	margin-top: 30px;
}

.item{

	
	padding: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
}

.page-item{

	

}

.active{

	background: #fb7a74;
	color: black;
}

/* Modals */

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    
}

.modal-conteudo {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: white;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    
}

.modal-titulo h1{
    font-weight: bold;
    text-align: center;
}

.modal-titulo, .modal-corpo, .modal-butoes{
    padding: 10px;
}

.modal-titulo{
    background-color: #eee;
}

.modal-corpo{

    text-align: center;
}

.modal-butoes{
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

label#share-info{

    font-size: 17pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button#linkwhats{

    font-size: 17pt;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

label#share-info{

    margin-top: 20px;
}
input#link-Share{

    border: none;
    width: 450px;
}

button#buttonClose{

    background: red;
    color: white;
    margin-left: 390px;
}
